/**  
    * Row
    * Pricing
    * Dropdown List
    * Toogles
    * Purchase
    * Icon Box
    * Services Client
    * Testimonial Services
    * Testimonial Quote
    * About Us
    * Stats
    * Our Teams
    * Progress Bar
    * Our Value
    * Testimonial Small
    * Feature
    * Get In
    * Member
    * Key Services
    * Services About
    * Team Skill
    * Services Work
    * Tabs
    * Alerts
    * Lists
    * Lightbox
    * Competencies
    * Buy Avent
    * Go Top
    * Preloader
*/

/* Row
-------------------------------------------------------------- */
.roll-row {
   clear: both;
   display: block;
   position: relative;
   padding: 80px 0;
}

.roll-row .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   z-index: 10;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
   filter: alpha(opacity=85);
   opacity: 0.75;
}

.roll-row .content-section {
   position: relative;
   z-index: 30;
}

/* Grid
-------------------------------------------------------------- */
.roll-container {
    width: 1200px;
    padding: 0 15px;
    display: table;
    margin-right: auto;
    margin-left: auto;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-rows {
    margin-right: -15px;
    margin-left: -15px;
}

.roll-col1 {
    width: 8.33%;
}

.roll-col2 {
    width: 16.6666%;
}

.roll-col3 {
    width: 25%;
}

.roll-col4 {
    width: 33.33%;
}

.roll-col5 {
    width: 41.6666%;
}

.roll-col6 {
    width: 50%;
}

.roll-col7 {
    width: 58.333%;
}

.roll-col8 {
    width: 66.6666%;
}

.roll-col9 {
    width: 75%;
}

.roll-col10 {
    width: 83.333%;
}

.roll-col11 {
    width: 91.6666%;
}

.roll-col12 {
    width: 100%;
}

.roll-col1,
.roll-col2,
.roll-col3,
.roll-col4,
.roll-col5,
.roll-col6,
.roll-col7,
.roll-col8,
.roll-col9,
.roll-col10,
.roll-col11,
.roll-col12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

/* Pricing
-------------------------------------------------------------- */
.roll-pricing {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 2px solid #dedede;
    border-radius: 3px;
}

.roll-pricing ul {
    display: inline-block;
    list-style: none;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.roll-pricing ul li {
    border-top: 1px solid #dedede;
}

.roll-pricing h5.title {
    opacity: 0.78;
    font-size: 18px;
    line-height: 29px;
    margin-top: 26px;
    display: inline-block;
}

.roll-pricing h6.sub-title {
    opacity: 0.5;
    font-size: 14px;
    line-height: 29px;
    margin-bottom: 21px;
    display: inline-block;
    width: 100%;
    font-weight: 400;
}

.roll-pricing .number {
    font-size: 90px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
    min-height: 124px;
    position: relative;
    top: 41px;
}

.roll-pricing .number span {
    position: relative;
}

.roll-pricing .number sup {
    font-size: 40px;
    top: -42px;
    left: -1px;
}

.roll-pricing .number sub {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: -3px;
    top: 0;
}

.roll-pricing ul li span {
    color: #585858;
    font-size: 14px;
    line-height: 44px;
}

.roll-pricing .top {
    border-radius: 3px;
    background-color: #e5e5e5;
}

.roll-pricing .bottom {
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}

.price-submit {
    background-color: #b7b7b7;
    border: 2px solid #b7b7b7;
    border-radius: 3px;
    font-size: 12px;
    line-height: 34px;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    color: #fff;
    padding: 7px 52px 5px 56px;
    margin: 16px 0 15px 0;
}

.roll-pricing.active .top,
.roll-pricing.active .bottom,
.roll-pricing.active .bottom .price-submit {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.roll-pricing.active h5.title,
.roll-pricing.active h6.sub-title {
    color: #fff;
    opacity: 1;
}

.roll-shortcodes h2.titheader {
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 80px;
}

.roll-pricing-trans {
    text-align: center;
}

.roll-pricing-trans h2.title {
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 4px solid #ccc;
    padding-bottom: 37px;
    opacity: 0.5;
}

.roll-pricing-trans sub,
.roll-pricing-trans sup {
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
}

.roll-pricing-trans sup {
    top: -30px;
    position: relative;
}

.roll-pricing-trans sub {
    top: 1px;
    position: relative;
}

.roll-pricing-trans .number {
    padding: 53px 0 28px 0;
}

.roll-pricing-trans .number span {
    font-size: 60px;
    line-height: 22px;
    opacity: 0.5;
}

.roll-pricing-trans ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
    opacity: 0.67;
}

.roll-pricing-trans ul span {
    line-height: 35px;
}

.roll-pricing-trans .read-more {
    padding-left: 28px;
    padding-right: 47px;
    margin-top: 35px;
    color: #a3a3a3;
    border-color: #ccc;
}

.roll-pricing-trans .read-more:after {
    color: #b2b2b2;
}

.roll-pricing-trans.active sub,
.roll-pricing-trans.active sup,
.roll-pricing-trans.active .number span,
.roll-pricing-trans.active ul,
.roll-pricing-trans.active h2.title {
    opacity: 1
}

.roll-pricing-trans.active .read-more,
.roll-pricing-trans.active h2.title {
    color: #000;
    border-color: #000;
}

.roll-pricing-trans.active .read-more:after {
    color: #000;
}

/* Dropdown List 
-------------------------------------------------------------- */
.drop-list {
    position: relative;
}

.drop-wrap {
    width: 200px;
    border: 2px solid #dedede;
    color: #181818;
    padding-left: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}  

.drop-wrap a {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 34px;
    color: #000;
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.drop-wrap a:after {
    content: "\e877";
    font-family: "fontello";
    color: #000;
    position: absolute;
    right: 22px;
    font-size: 18px;
    top: 9px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.drop-wrap a:hover {
    text-decoration: none;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: none;
    box-shadow: 0 4px 6px rgba(125, 125, 125, 0.3);
    padding: 1px 0 8px;
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
         -o-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
   -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

.dropdown.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

.dropdown li a {
    display: block;
    line-height: 40px;
    color: #000;
    padding-left: 15px;
    transition: none;
}

.dropdown li:hover a {
    color: #000;
    text-decoration: none;
}

/* Toogles 
-------------------------------------------------------------- */
.accordion {
    margin: 0;
    margin-bottom: 264px;
}

.accordion .toggle {
    border-top: 1px solid #e5e5e5;
    padding-top: 16px;
    padding-bottom: 6px;
    display: inline-block;
    width: 100%;
}

.accordion .toggle:first-child {
    border-top: 0;
    padding-top: 0;
}

.toggle .toggle-content {
    display: none;
    padding-left: 34px;
    font-size: 14px;
    color: #8d8d8d;
    line-height: 24px;
    margin-top: 15px;
}

.page-sidenavigation .toggle-content {
    padding: 0;
    margin-top: 0;
}

.toggle .toggle-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #f8f8f8;
}

.toggle .toggle-content ul li a {
    border-top: 2px solid #f8f8f8;
    width: 100%;
    display: inline-block;
    padding: 13px 0 12px 9px;
}

.toggle .toggle-content ul li:first-child a {
    border: 0;
}

.toggle .toggle-content .helpful {
    color: #000;
    float: right;
    line-height: 26px;
    margin-top: 1px;
    margin-bottom: 14px;
}

.toggle .toggle-content .helpful a {
    color: #c1c1c1;
    width: 46px;
    display: inline-block;
    position: relative;
}

.toggle .toggle-content .helpful a:before {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "fontello";
    font-size: 20px;
}

.toggle .toggle-content .helpful a.like:before {
    content: "\e82f";
}

.toggle .toggle-content .helpful a.unlike:before {
    content: "\e830";
}

.toggle .toggle-content .helpful a:first-child {
    margin-left: 11px;
    margin-right: 15px;
}

.toggle .toggle-title {
    position: relative;
    line-height: 24px;
    padding-left: 34px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    font-weight: 700;
    min-height: 39px;
}

.toggle .toggle-title:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\e81c";
    font-family: "fontello";
    font-size: 20px;
    color: #000;
}

.toggle .toggle-title.active:before {
    content: "\e81f";
}

.toggle .toggle-title:after,
.toggle .toggle-title.active:after {
    position: absolute;
    left: 20px;
    top: 0;
    content: "\f107";
    font-family: "fontello";
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.toggle .toggle-title.active:after {
    content: "\f106";
}

.toggle .toggle-title.active {
    border-bottom: none;
}

/* Purchase
-------------------------------------------------------------- */
.roll-row.purchase {
    background-color: #ededed;
    min-width: 127px;
    padding: 0;
}

.roll-row.purchase h3 {
    font-weight: 400;
    font-size: 27px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 44px;
    padding-bottom: 47px;
}

.roll-row.purchase a.read-more {
    border-color: #000;
    margin-left: 35px;
    padding: 7px 49px 5px 30px;
    letter-spacing: 2px;
}

.read-more {
    font-size: 12px;
    color: #000;
    line-height: 34px;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 26px;
    padding-right: 63px;
    border: 2px solid #efefef;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    letter-spacing: 2px;
}

.read-more:after {
    position: absolute;
    top: 50%;
    right: 19px;
    margin-top: -17px;
    font-family: "fontello";
    font-size: 20px;
    content: "\e879";
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.read-more:hover:after {
    right: 10px;
}

.read-more.dark {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

.read-more.dark:after {
    color: #fff;
}

.spacing {
    height: 1px;
    background-color: #e5e5e5;
}

.spacing.dark {
    background-color: #333;
}

.spacing-2 {
    height: 2px;
    background-color: #eaeaea;
}

.spacing-2.dark {
    background-color: #333;
}

.spacing-dashed {
    height: 1px;
    border-top: 1px dashed #eaeaea;
}

.spacing-dashed.dark {
    border-top: 1px dashed #333;
}

.spacing-4 {
    height: 4px;
    background-color: #e5e5e5;
}

.spacing-4.dark {
    background-color: #000;
}

.roll-row.purchase-box {
    padding: 0;
}

.purchase-box .detail {
    border: 3px solid #efefef;
    border-radius: 3px;
    display: inline-block;
    padding-bottom: 29px;
    width: 100%;
}

.purchase-box h3 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    display: inline-block;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 33px;
}

.purchase-box a.read-more {
    background-color: #000;
    color: #fff;
    border-color: #000;
    float: right;
    margin-top: 17px;
    margin-right: 30px;
}

.purchase-box a.read-more:after {
    color: #fff;
}

/* Icon Box 
-------------------------------------------------------------- */
.roll-iconbox {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
}

.roll-iconbox img {
    display: inline-block;
}

.roll-iconbox .ic-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
    background-color: #000;
}

.roll-iconbox .ic-overlay-light {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
    background-color: #fff;
}

.roll-iconbox img + .main-box {
    position: absolute;
}

.roll-iconbox .main-box {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 15.5% 32px 67px 32px;
}

.main-box .icon {
    position: relative;
    width: 65px;
    height: 65px;
    display: inline-block;
}

.main-box .icon .line {
    display: inline-block;
    height: 4px;
    width: 55px;
    opacity: 0.7;
    background-color: #fff;
    margin-top: 29px;
    margin-bottom: 15px;
}

.main-box h5.title {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 21px;
}

.main-box span.content {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    display: inline-block;
    margin-bottom: 62px;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

a.more-details {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    background-color: #fff;
    padding: 14px 48px 12px 50px;
    border-radius: 3px;
    font-weight: 500;
}

.main-box .icon.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #efefef;
    margin: 0;
    margin-bottom: 30px;
}

.main-box .icon.circle img {
    width: 44px;
    height: 44px;
    position: relative;
    top: 50px;
}

.roll-iconbox .main-box.box-circle {
    padding: 46px 0 0 0;
}

.box-circle h5.title {
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 1.9px;
    color: #333;
    margin-bottom: 34px;
}

.box-circle span.content {
    font-size: 13px;
    line-height: 22px;
    color: #333;
}

.roll-iconbox {
    border: 3px solid #efefef;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-iconbox:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.main-box.box-rectangle {
    padding: 34px 24px 0 24px;
}

.box-rectangle img {
    width: 44px;
    height: 44px;
}

.box-rectangle h5.title {
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 1.9px;
    color: #333;
    margin-bottom: 20px;
}

.box-rectangle span.content {
    font-size: 13px;
    line-height: 22px;
    color: #333;
    margin-bottom: 39px;
}

.box-rectangle.box-light h5.title,
.box-rectangle.box-light span.content {
    color: #fff;
}

/* Whithout Box */
.roll-withoutbox {
    display: inline-block;
    position: relative;
}

.roll-withoutbox h6.title {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #333;
    letter-spacing: 1.9px;
    margin-bottom: 17px;
    padding-left: 39px;
}

.roll-withoutbox h6.title i:before {
    left: 0;
    top: -1px;
    position: absolute;
    font-size: 20px;
    font-family: "fontello";
}

.roll-withoutbox.clear-left h6.title {
    padding-left: 42px;
    width: 100%;
}

.roll-withoutbox.clear-left p {
    padding-left: 42px;
}

.roll-withoutbox h6.title.icon-box:before {
      content: '\e856';
}

.roll-withoutbox h6.title.icon-clock:before {
      content: '\e866';
}

.roll-withoutbox h6.title.icon-flag:before {
      content: '\e82e';
}

.roll-withoutbox h6.title.icon-cloud:before {
      content: '\e8b5';
}

.roll-withoutbox h6.title.icon-star-empty:before {
      content: '\e80d';
}

.roll-withoutbox h6.title.icon-eye:before {
      content: '\e82a';
}

.roll-competencies h4.title {
    letter-spacing: 3px;
    word-spacing: 1px;
    margin-bottom: 58px;
}

.roll-competencies.center h4.title {
    font-size: 32px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    margin: 0;
    margin-bottom: 16px;
}

.roll-competencies.center h4.title + p {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.5;
    margin-bottom: 61px;
}

/* Services Client 
-------------------------------------------------------------- */
.roll-serclient {
    background-color: #f0f0f0;
}

.roll-serclient.light {
    background-color: #fff;
}

.roll-serclient.light.parallax {
    padding-top: 160px;
    min-height: 378px;
    background-image: url('../images/blog/bg1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.roll-serclient.light.parallax .overlay {
    background-color: #fff;
    opacity: 0.9;
}

.roll-serclient .serclient {
    position: relative;
    z-index: 10;
}

.roll-serclient.light.parallax .items {
    border-right: 1px solid #ccc;
}

.roll-serclient h4.title {
    font-size: 32px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    margin: 0;
    margin-bottom: 16px;
}

.roll-serclient h4.title + p {
    font-size: 14px;
    line-height: 22px;
    color: #777;
    margin-bottom: 75px;
}

.roll-serclient .items img {
    width: 59px;
    position: absolute;
    left: 0;
    top: 8px;
}

.roll-serclient .items {
    padding-left: 96px;
    position: relative;
}

.roll-serclient .items h6.sername {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1px;
}

.roll-serclient .items p {
    margin-bottom: 1px;
}

.roll-serclient .items span {
    font-weight: 500;
    opacity: 0.5;
}

.roll-serclient.light .items span {
    opacity: 0.2;
}

.roll-serclient.light .items {
    border-right: 1px solid #eaeaea;
}

.serclient.control-nav .owl-nav i {
    font-size: 15px;
    position: absolute;
    top: 35px;
}

.serclient.control-nav .owl-nav i.icon-left-open {
    left: -30px;
}

.serclient.control-nav .owl-nav i.icon-right-open {
    right: -30px;
}

/* Testimonial Services
-------------------------------------------------------------- */
.roll-row.roll-testi-services {
    background-image: url('../images/services/11.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.roll-row.roll-testi-services.fall {
    background-image: url('../images/services/14.jpg');
}

.roll-row.roll-testi-services.blue {
    background-image: url('../images/services/15.jpg');
}

.roll-row.roll-testi-services.fall .services-testimonial span {
    color: #fff;
    opacity: 0.6;
}

.services-testimonial {
    text-align: center;
}

.services-testimonial .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #e1dee1;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.services-testimonial .icon:before {
    position: absolute;
    top: 62px;
    left: 33px;
    content: "”";
    font-size: 100px;
    line-height: 29px;
    color: #fff;
}

.services-testimonial p {
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 7px;
}

.services-testimonial span {
    font-size: 15px;
    line-height: 29px;
    opacity: 0.5;
}

/* Testimonial Quote
-------------------------------------------------------------- */
.roll-testiquote {
    text-align: center;
}

.roll-testiquote .items {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.roll-testiquote .items p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #333;
}

.roll-testiquote .items span {
    font-size: 14px;
    line-height: 22px;
    color: #333;
}

.roll-testiquote .items:before {
    position: absolute;
    top: 13px;
    left: -41px;
    content: "“";
    font-size: 100px;
    opacity: 0.1;
}

.roll-testiquote .items:after {
    position: absolute;
    bottom: 2px;
    right: -57px;
    content: "”";
    font-size: 100px;
    opacity: 0.1;
}

.roll-testiquote .owl-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.1;
    display: inline-block;
    margin-left: 5px;
    margin-top: 42px;
}

.roll-testiquote .owl-dot:first-child {
    margin-left: 0;
}

.roll-testiquote .owl-dot.active {
    opacity: 1;
}

.roll-testiquote .owl-nav {
    display: none;
}

/* About Us
-------------------------------------------------------------- */
.roll-aboutus {
    width: 100%;
    padding: 66px 0 67px 0 !important;
}

.roll-aboutus h2.title {
    margin-bottom: 54px;
}

/* Stats
-------------------------------------------------------------- */
.roll-row.roll-stats {
    background-image: url('../images/about/bg2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 349px;
}

.roll-row.roll-stats.video-bg {
    background-image: url('../images/about/6.jpg');
    padding: 85px 0 97px 0 !important;
}

.roll-row.roll-stats .stats-overlay {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: 1;
    top: 0;
    left: 0;
}

.roll-row.roll-stats.video-bg .stats-overlay {
    opacity: 0.4;
}

.roll-row.roll-stats .roll-stats-count {
    margin-top: 73px;
}

.roll-stats-count {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.roll-stats-count h2.number {
    font-family: "roboto";
    font-size: 38px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
}

.roll-stats-count span.content {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
}

.roll-stats-count .icon {
    width: 122px;
    height: 122px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.roll-stats-count .icon .icon-overlay {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
}

.roll-stats-count .icon img {
    position: absolute;
    top: 27px;
    left: 30px;
    width: 65px;
}

.roll-stats .stats-head {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 10;
}

.roll-stats .stats-head h2.title {
    font-size: 34px;
    line-height: 72px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 18px;
}

.roll-row.roll-stats.video-bg .roll-stats-count {
    margin-top: 39px;
}

/* Our Teams
-------------------------------------------------------------- */
.roll-row.roll-ourteam {
    padding-top: 89px;
    padding-bottom: 45px;
}

.roll-row.roll-ourteam h4.title {
    letter-spacing: 1.9px;
    word-spacing: 5.5px;
    margin-bottom: 36px;
}

.roll-row.roll-ourteam p.content {
    color: #777;
}

.roll-row.roll-ourteam .details {
    display: inline-block;
    width: 100%;
}

.roll-ourteam .team {
    width: 31.62%;
    margin-left: 2.56%;
    display: inline-block;
    margin-right: -3px;
    margin-top: 21px;
    overflow: hidden;
}

.roll-ourteam .team img {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-ourteam .team:hover img {
    -webkit-filter: brightness(85%);
        -moz-filter: brightness(85%);
            -webmskit-filter: brightness(85%);
                -o-filter: brightness(85%);
                    filter: brightness(85%);
                    transform: scale(0.99);
                -o-transform: scale(0.99);
            -webmskit-transform: scale(0.99);
        -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
}

.roll-ourteam .team:first-child {
    margin-left: 0;
}

.roll-ourteam .team h5.name {
    word-spacing: 3px;
    margin-top: 25px;
    float: left;
}

.roll-ourteam .team span.social {
    float: right;
    display: inline-block;
    margin-top: 25px;
    margin-right: 2px;
}

.roll-ourteam .team span.social a {
    position: relative;
    display: inline-block;
    margin-right: -3px;
    margin-left: 2px;
    width: 23px;
}

.roll-ourteam .team span.social a:hover i:before {
    color: #000;
}

.roll-ourteam .team span.social a i:before {
    font-size: 17px;
    color: #ccc;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.roll-ourteam .team h6.regency {
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin-top: -9px;
    margin-bottom: 16px;
    width: 100%;
}

.roll-ourteam .team p {
    float: left;
}

.roll-ourteam.light h4.title {
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    word-spacing: 4px;
    margin-bottom: 23px;
    text-align: center;
}

.roll-ourteam.light p.content {
    font-size: 14px;
    line-height: 22px;
    color: #333;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 83px;
}

.roll-aboutus .aboutus {
    display: inline-block;
    width: 100%;
    margin-top: 27px;
}

.aboutus .about-left {
    width: 57.26%;
    margin-right: 2.56%;
    float: left;
}

.aboutus .about-right {
    width: 40.18%;
    float: left;
}

.aboutus .about-left h4.title,
.aboutus .about-right h4.title {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 500;
    margin-top: -9px;
    margin-bottom: 28px;
}

.aboutus .about-left p,
.aboutus .about-right p {
    margin-top: 2px;
    display: inline-block;
}

.roll-aboutus.landing {
    text-align: center;
    background-color: #f4f4f4;
}

.roll-aboutus.landing.light {
    background-color: #fff;
}

.roll-aboutus.landing.light .about-title h2.title {
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    word-spacing: 4px;
    margin-bottom: 23px;
}

.roll-aboutus.landing.light .about-title p {
    font-size: 14px;
    line-height: 22px;
    color: #333;
    opacity: 0.8;
}

.roll-aboutus.landing.light .about-left img {
    padding-left: 70px;
    padding-right: 45px;
}

.roll-aboutus.landing.light .about-right {
    padding-left: 35px;
    padding-right: 65px;
}

.roll-aboutus.landing .about-left,
.roll-aboutus.landing .about-right {
    width: 48.86%;
    margin-top: 42px;
}

.roll-aboutus.landing .about-left {
    float: left;
    text-align: right;
}

.roll-aboutus.landing .about-right {
    float: right;
    text-align: left;
}

.roll-aboutus.landing .about-title h2.title {
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    margin-bottom: 14px;
}

.roll-aboutus.landing .about-left p {
    margin-bottom: 22px;
}

.roll-aboutus.landing .about-left a.read-more {
    margin-top: 20px;
}

.roll-aboutus.landing .about-right ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.roll-aboutus.landing .about-right ul li {
    display: inline-block;
    position: relative;
    padding-left: 88px;
    min-height: 112px;
    margin-top: 23px;
}

.roll-aboutus.landing .about-right ul li:before {
    position: absolute;
    top: -36px;
    left: 22px;
    content: "\e87f";
    font-size: 20px;
    font-family: "fontello";
    opacity: 0.1;
}

.roll-aboutus.landing .about-right ul li:first-child {
    margin-top: 0;
}

.roll-aboutus.landing .about-right ul li:first-child:before {
    content: "";
}

.roll-aboutus.landing .about-right ul li h6.title {
    font-size: 14px;
    line-height: 22px;
    margin-top: 1px;
    margin-bottom: 9px;
}

.landing .about-right .icon {
    position: absolute;
    background: url('../images/icons/hexagonal_d.png') no-repeat;
    background-size: 60px 65px;
    top: 0;
    left: 0;
    width: 65px;
    height: 70px;
    text-align: center;
    font-size: 9px;
    line-height: 15px;
    font-weight: 300;
}

.landing .about-right .icon span {
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    display: inline-block;
    font-family: "Roboto";
    font-weight: 300;
}

.landing .about-right .icon img {
    width: 34px;
    top: 17px;
    position: relative;
    display: inline-block;
}

.landing .purchase-box .detail {
    border-color: #fff;
    background-color: #fff;
    margin-top: 49px;
}

/* Progress Bar
-------------------------------------------------------------- */
.progress-line h4.title {
    font-size: 22px;
    line-height: 72px;
    letter-spacing: 1.9px;
    margin-bottom: 31px;
    font-weight: 500;
    word-spacing: 3px;
}

.progress-single {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
    padding-left: 86px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.progress-single .name {
    position: absolute;
    left: 20px;
    top: 16px;
}

.progress-animate{
    height: 10px;
    width: 0;
    background-color: #000;
    height: 100%;
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            -o-border-radius: 0;
                border-radius: 0;
}

.progress-bar {
    background-color: #f4f4f4;
    width: 100%;
    height: 8px;
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            -o-border-radius: 0;
                border-radius: 0;
}

.progress-single .perc {
    width: 0;
    text-align: right;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #3c3d3f;
    margin-bottom: 4px;
    -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
         -ms-transition: opacity 1s ease-in-out;
          -o-transition: opacity 1s ease-in-out;
              transition: opacity 1s ease-in-out;
}

.progress-single .perc.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 0.5;
}

.progress-single .icon {
    position: absolute;
    top: -4px;
    left: 0;
    width: 65px;
    height: 70px;
}

.progress-single .icon:before {
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 18px;
}

.progress-single .icon:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url('../images/icons/hexagonal.png');
    background-size: 65px 70px;
    width: 65px;
    height: 70px;
}

.roll-skills .progress-single {
    font-size: 15px;
    padding-left: 100px;
    height: auto;
    position: relative;
    z-index: 10;
}

.roll-skills .progress-single .name {
    opacity: 0.4;
}

.roll-skills .progress-single .perc.show {
    opacity: 1;
}

.roll-skills .progress-bar {
    height: 3px;
    background-color: transparent;
}

.roll-skills.parallax {
    background-image: url('../images/blog/bg1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.roll-skills.parallax .overlay {
    background-color: #fff;
    opacity: 0.9;
}

/* Our Value
-------------------------------------------------------------- */
.roll-ourvalue h4.title {
    font-size: 22px;
    line-height: 72px;
    letter-spacing: 1.9px;
    margin-bottom: 31px;
    font-weight: 500;
}

.roll-ourvalue ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -1px;
}

.roll-ourvalue ul li {
    list-style: none;
    position: relative;
    padding-left: 37px;
    margin-bottom: 12px;
    width: 100%;
}

.roll-ourvalue ul li:before {
    font-size: 20px;
    left: 1px;
    top: -1px;
    position: absolute;
}

/* Testimonial Small
-------------------------------------------------------------- */
.roll-testimonial-small h4.title {
    font-size: 22px;
    line-height: 72px;
    letter-spacing: 1.9px;
    margin-bottom: 31px;
    font-weight: 500;
}

.roll-testimonial-small ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.roll-testimonial-small ul li {
    list-style: none;
    position: relative;
}

.roll-testimonial-small ul li img {
    width: 59px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 8px;
}

.roll-testimonial-small .author {
    padding-left: 100px;
}

.roll-testimonial-small .author h5.name {
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    margin-top: -2px;
    display: inline-block;
    margin-bottom: 1px;
}

.roll-testimonial-small .author p {
    margin-bottom: 3px;
}

.roll-testimonial-small .author a {
    display: inline-block;
    line-height: 25px;
    opacity: 0.5;
}

/* Testimonial */
.roll-testimonial.gray {
    background-color: #f4f4f4;
}

.roll-testimonial .testimonial-title {
    text-align: center;
}

.roll-testimonial .testimonial-title h2.title {
  font-weight: 500;
  font-size: 34px;
  line-height: 72px;
  letter-spacing: 2.5px;
  margin-bottom: 14px;
}

.roll-testimonial ul {
    margin: 0;
    padding: 0;
    margin-top: 6px;
    display: inline-block;
}

.roll-testimonial ul li {
    float: left;
    list-style: none;
    width: 48.7%;
    padding-left: 4%;
    margin-top: 40px;
    margin-bottom: 36px;
}

.roll-testimonial ul li:nth-child(odd) {
    margin-right: 2.56%;
}

.roll-testimonial ul li img {
    display: inline-block;
    width: 59px;
    position: absolute;
}

.roll-testimonial ul li img + div {
    display: inline-block;
    width: 79.47%;
    margin-left: 20.52%;
}

.roll-testimonial .author h5.name {
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 2px;
}

.roll-testimonial .author p {
    margin-bottom: 0;
    margin-left: 2px;
}

.roll-testimonial .author a {
    line-height: 25px;
    font-weight: 600;
    opacity: 0.5;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.roll-testimonial .testimonial-text .author a {
    opacity: 1;
}

.roll-testimonial .author a:hover {
    opacity: 1;
}

.roll-testimonial .author a:first-child {
    margin-left: 2px;
}

/* Roll Company */
.roll-row.roll-company {
    padding: 43px 0 61px 0;
}

/* Roll Client */
.roll-row.roll-client {
    padding: 0;
}

.roll-row.roll-client .logos {
    margin: 0;
    padding: 0;
    padding: 64px 0 63px 0;
}

.roll-row.roll-client .logos li {
    list-style: none;
    display: inline-block;
    margin-right: -3px;
    margin-left: 94px;
    opacity: 0.3;
}

.roll-row.roll-client .logos li:first-child {
    margin-left: 0;
}

.roll-row.roll-client .logos li img {
    height: 48px;
}

/* Feature
-------------------------------------------------------------- */
.roll-feature.dark {
    background-color: #000;
    color: #fff;
}

.roll-feature.gray {
    background-color: #f4f4f4;
}

.roll-feature ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.roll-feature ul li {
    display: inline-block;
}

.roll-feature .feature-left {
    width: 48.86%;
    display: inline-block;
    float: left;
    text-align: right;
}

.roll-feature .feature-left div {
    padding-left: 35px;
}

.roll-feature .feature-left .main-image {
    display: inline-block;
    margin-bottom: 17px;
}

.roll-feature .feature-left .image {
    display: inline-block;
}

.roll-feature .feature-left .image ul li {
    margin-left: 10px;
    width: 170px;
}

.roll-feature .feature-left .image ul li:first-child {
    margin-left: 0;
}

.roll-feature .feature-right {
    width: 43%;
    display: inline-block;
    float: right;
}

.roll-feature .feature-right h4.title,
.roll-feature .feature-left h4.title {
    font-size: 24px;
    line-height: 72px;
    letter-spacing: 1.9px;
    margin-top: -5px;
    margin-bottom: 9px;
}

.roll-feature.dark .feature-left h4.title,
.roll-feature.dark .feature-right h4.title,
.roll-feature.gray .feature-right h4.title {
    color: #fff;
}

.roll-feature .feature-right p,
.roll-feature .feature-left p {
    margin-top: 2px;
    display: inline-block;
}

.roll-feature .feature-right a.read-more {
    margin-top: 28px;
    border-color: #fff;
    background-color: #fff;
}

.roll-feature .feature-right .read-more.dark {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

.roll-feature.gray .feature-right a.read-more {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.roll-feature.gray .feature-right a.read-more:after {
    color: #fff;
}

.roll-feature-project {
    background-color: #f4f4f4;
    text-align: center;
}

.roll-feature-project .project-title {
    margin-bottom: 20px;
}

.roll-feature-project .project-title .name {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 2.4px;
    margin-top: 15px;
}

.roll-feature-project .project-items {
    display: inline-block;
    width: 100%;
}

.project-items .item {
    width: 30.8%;
    float: left;
    margin-left: 2.5%;
    text-align: left;
    margin-top: 48px;
    overflow: hidden;
}

.project-items .item img {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.project-items .item:hover img {
    -webkit-filter: brightness(85%);
        -moz-filter: brightness(85%);
            -webmskit-filter: brightness(85%);
                -o-filter: brightness(85%);
                    filter: brightness(85%);
                    transform: scale(0.99);
                -o-transform: scale(0.99);
            -webmskit-transform: scale(0.99);
        -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
}

.project-items .item .title {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.7px;
    margin-top: 19px;
}

.project-items .item span {
    opacity: 0.5;
    font-family: "Sanchez";
    font-weight: 400;
    line-height: 34px;
    margin-top: -4px;
    display: inline-block;
}

.roll-feature-project a.read-more {
    margin-top: 37px;
    margin-bottom: 3px;
}

.roll-feature.light .fheader {
    text-align: center;
    margin-bottom: 104px;
}

.roll-feature.light h2.title {
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    word-spacing: 4px;
    margin-bottom: 23px;
}

.roll-feature.light p {
    font-size: 14px;
    line-height: 22px;
    color: #333;
    opacity: 0.8;
}

.roll-feature.light .feature-right h4.title,
.roll-feature.light .feature-left h4.title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.roll-feature.light .feature-right a.read-more {
    border-color: #efefef;
}

.roll-feature.light .feature-left img {
    padding-left: 100px;
}

/* Get In
-------------------------------------------------------------- */
.roll-getin {
    text-align: center;
}

.roll-getin h2.title {
    font-size: 34px;
    line-height: 72px;
    letter-spacing: 2.4px;
    font-weight: 500;
    margin-top: -4px;
    margin-bottom: 14px;
}

.roll-getin .contact-form {
    display: inline-block;
    width: 65.81%;
    margin-left: 17.09%;
    float: left;
}

.roll-getin .textarea-wrap {
    margin-top: 68px;
}

.roll-getin .textarea-wrap textarea {
    display: inline-block;
    min-height: 145px;
    width: 100%;
    border: 2px solid #dedede;
    border-radius: 3px;
    padding-left: 20px;
}

.roll-getin .textarea-wrap textarea:focus,
.roll-getin .input-wrap input:focus {
    border-color: #000;
}

.roll-getin .input-wrap {
    display: inline-block;
    width: 48.05%;
}

.roll-getin .input-wrap.name {
    float: left;
}

.roll-getin .input-wrap.email {
    float: right;
}

.roll-getin .input-wrap input {
    width: 100%;
    border: 2px solid #dedede;
    border-radius: 3px;
    height: 50px;
    padding-left: 20px;
}

.roll-getin .submit-wrap {
    text-align: left;
}

.roll-getin *::-webkit-input-placeholder {
    font-family: "Raleway";
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 400;
    padding-top: 7px;
}

.roll-getin *:-moz-placeholder {
    /* FF 4-18 */
    font-family: "Raleway";
    line-height: 30px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.roll-getin *::-moz-placeholder {
    /* FF 19+ */
    font-family: "Raleway";
    line-height: 30px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.roll-getin *:-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Raleway";
    line-height: 30px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.roll-getin .input-wrap *::-webkit-input-placeholder {
    padding-top: 0;
    line-height: 23px;
}

.roll-getin .input-wrap *:-moz-placeholder {
    /* FF 4-18 */
    padding-top: 0;
    line-height: 23px;
}

.roll-getin .input-wrap *::-moz-placeholder {
    /* FF 19+ */
    padding-top: 0;
    line-height: 23px;
}

.roll-getin .input-wrap *:-ms-input-placeholder {
    /* IE 10+ */
    padding-top: 0;
    line-height: 23px;
}

/* Member
-------------------------------------------------------------- */
.roll-member .member-left,
.roll-member .member-right {
    width: 48.71%;
}

.roll-member .member-left img,
.roll-member .member-right img {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-member .member-left img:hover,
.roll-member .member-right img:hover {
    -webkit-filter: brightness(85%);
        -moz-filter: brightness(85%);
            -webmskit-filter: brightness(85%);
                -o-filter: brightness(85%);
                    filter: brightness(85%);
                    transform: scale(0.99);
                -o-transform: scale(0.99);
            -webmskit-transform: scale(0.99);
        -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
}

.roll-member .member-left {
    float: left;
}

.roll-member .member-right {
    float: right;
}

.roll-member h5.name {
  word-spacing: 3px;
  margin-top: 25px;
  float: left;
}

.roll-member span.social {
  float: right;
  display: inline-block;
  margin-top: 25px;
  margin-right: 2px;
}

.roll-member span.social a {
  position: relative;
  display: inline-block;
  margin-right: -3px;
  margin-left: 2px;
  width: 23px;
}

.roll-member span.social a i:before {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.roll-member span.social a:hover i:before {
    color: #000;
}

.roll-member h6.regency {
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin-top: -9px;
  margin-bottom: 16px;
  width: 100%;
}

.roll-member p {
  float: left;
}

.roll-member span.social a i:before {
  font-size: 17px;
  color: #ccc;
}

/* Key Services
-------------------------------------------------------------- */
.roll-keyservices {
    text-align: center;
    position: relative;
    min-height: 504px;
}

.roll-keyservices h4.title {
    line-height: 48px;
    letter-spacing: 3px;
    margin-top: 46px;
    margin-bottom: 26px;
}

.roll-keyservices .key-details {
    position: absolute;
    left: 0;
    bottom: 0;
}

.roll-keyservices .key-details .items {
    width: 33.33%;
    float: left;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.roll-keyservices .key-details .items img {
    min-height: 285px;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.roll-keyservices .key-details .items:hover img {
    transform: scale(1.15);
    -o-transform: scale(1.15);
    -webmskit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

.roll-keyservices .key-details .items h6.title {
    position: absolute;
    top: 29.5%;
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    word-spacing: 1px;
}

.roll-keyservices .key-details .items h6.title a {
    color: #fff;
}

.roll-keyservices .key-details .items p {
    position: absolute;
    color: #fff;
    top: 51.2%;
    opacity: 0.5;
    width: 100%;
}

/* Services About
-------------------------------------------------------------- */
.roll-row.roll-serabout {
    background-image: url('../images/services/5.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.roll-row.roll-serabout .details {
    padding-left: 8.55%;
    margin-top: 56px;
    margin-bottom: 102px;
}

.roll-row.roll-serabout .details h6.title {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    margin-bottom: 21px;
}

.roll-row.roll-serabout .details a.read-more {
    margin-top: 19px;
    border-color: #222;
}

/* Team Skill
-------------------------------------------------------------- */
.roll-teamskill {
    background-image: url('../images/services/6.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.roll-teamskill .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.66;
}

.roll-teamskill .skill-bar {
    width: 65.81%;
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-right: -3px;
    height: 148px;
    overflow: hidden;
    top: -30px;
}

.roll-teamskill .skill-user {
    width: 34.19%;
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-right: -3px;
    text-align: center;
    margin-top: 9px;
}

.roll-teamskill .skill-bar .name {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    top: -2px;
    left: 0;
}

.roll-teamskill .progress-single {
    height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 34px;
}

.roll-teamskill .progress-bar {
    background-color: transparent;
    height: 1px;
}

.roll-teamskill .progress-animate {
    background-color: #fff;
    opacity: 0.2;
}

.roll-teamskill .progress-single .perc {
    color: #fff;
}

.roll-teamskill .progress-single .perc.show {
    opacity: 1;
}

.roll-teamskill .items {
    float: left;
    width: 100%;
}

.roll-teamskill .skill-user img {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.2;
}

.roll-teamskill .contact-user {
    position: absolute;
    right: 0;
    width: 18px;
    top: 13px;
    opacity: 0.2;
}

.roll-teamskill .contact-user a {
    color: #fff;
    font-size: 17px;
    margin-bottom: 7px;
    display: inline-block;
    position: relative;
}

.roll-teamskill .contact-user a:before {
    position: absolute;
    right: 0;
}

.roll-teamskill h5.user-name {
    color: #fff;
    margin-top: 11px;
}

.roll-teamskill h5.user-name a {
    color: #fff;
}

.roll-teamskill .skill-user span {
    color: #fff;
    margin-top: -1px;
    display: inline-block;
    opacity: 0.5;
}

.roll-teamskill .skill-user .user {
    position: relative;
}

.skill-user .owl-item {
    opacity: 0.2;
}

.owl-carousel .owl-item.active img,
.owl-carousel .owl-item.active .contact-user {
    opacity: 1;
}

/* Services Work
-------------------------------------------------------------- */
.roll-serwork {
    background-color: #f0f0f0;
    text-align: center;
}

.roll-serwork h2.title {
    font-weight: 300;
    font-size: 32px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 16px;
}

.roll-serwork p {
    font-size: 14px;
    line-height: 22px;
    color: #777;
}

.roll-serwork .servies-items {
    display: inline-block;
    margin-right: -3px;
    width: 23.076%;
}

.roll-serwork .icon {
    background: url('../images/icons/hexagonal_ser.png');
    background-size: 118px 129px;
    width: 118px;
    height: 129px;
    display: inline-block;
}

.roll-serwork .icon img {
    width: 70px;
    position: relative;
    top: 32px;
}

.roll-serwork span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    width: 100%;
    display: inline-block;
    margin-top: 11px;
}

.roll-serwork .split {
    width: 2.56%;
    font-size: 36px;
    display: inline-block;
    height: 100%;
    position: relative;
    top: -103px;
    opacity: 0.1;
    margin-right: -3px;
}

/* Tabs
-------------------------------------------------------------- */
.tabs {
    position: relative;
    z-index: 10;
}

.tabs ul {
    overflow: hidden;
    margin:0;
    padding: 0;
}

.tabs .menu-tab li {
    position: relative;
    bottom: 0;
    float: left;
    list-style: none;
    background-color: #fff;
}

.tabs .menu-tab li a {
    display: block;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #eaeaec;
    letter-spacing: 0.4px;
    padding: 9px 32px 6px 31px
}

.tabs .menu-tab li a:hover {
    text-decoration: none;
}

.tabs .menu-tab li.active a {
    border: 1px solid #eaeaec;
    position: relative;
}

.tabs .menu-tab li.active a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    content: "";
}

.tabs .content-tab {
    margin-top: 50px;
    border: 1px solid #eaeaec;
    padding: 35px 59px 13px 34px;
    margin-top: -1px;
    background-color: #fff;
}

.tabs .content-tab p {
    line-height: 24px;
    opacity: 0.7;
}

.tabs .content-tab .tags {
    padding-top: 20px;
}

.tabs .comments li,
.tabs .pop-posts li {
    clear: left;
    margin-top: 10px;
    padding-top: 14px;
    min-height: 81px;
    border-top: 1px solid #e9e9e9;
}

.tabs .comments li:first-child,
.tabs .pop-posts li:first-child {
    margin-top: 0;
    border-top: none;
}

.tabs .pop-posts li:first-child {
    margin-top: 5px;
}

.tabs .comments .avatar {
    float: left;
    margin-right: 17px;
    width: 60px;
}

.tabs .comments .avatar img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

.tabs .comments p {
    font-size: 14px;
    line-height: 21px;
    color: #b7b7b7;
    padding-top: 8px;
}

.tabs .comments p a,
.tabs .pop-posts .text a {
    color: #2d3340;
}

.tabs .comments p a:hover {
    text-decoration: none;
}

.tabs .pop-posts .thumb {
    float: left;
    margin-right: 15px;
    margin-top: 3px;
    width: 91px;
}

.tabs .pop-posts li {
    margin-top: 17px;
}

.tabs .pop-posts .text {
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
}

.tabs .pop-posts .text i {
    display: block;
    font-size: 11px;
    color: #acacac;
    line-height: 16px;
}

.tabs .pop-posts .text a:hover {
    text-decoration: none;
}

.tabs .tags a {
    color: #2d3340;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 5px 12px;
    margin: 0 1px 5px 0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.tabs .tags a:hover {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.tabs.left {
    display: inline-block;
    position: relative;
    padding-left: 129px;
}

.tabs.left .menu-tab {
    border: 1px solid #eaeaec;
    position: absolute;
    top: -1px;
    left: 0;
}

.tabs.left .menu-tab li {
    float: none;
    bottom: 0;
    border-top: 1px solid #eaeaec;
}

.tabs.left .menu-tab li:first-child {
    border-top: 0;
}

.tabs.left .menu-tab li a {
    border: 0;
    padding: 8px 32px 4px 31px;
}

.tabs.left .content-tab {
    border: 1px solid #eaeaec;
}

.tabs.left .content-tab:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    content: "";
}

.tabs.left .content-tab {
    position: relative;
}

.tabs.icons .menu-tab li a {
    background-color: #f6f6f6;
    padding: 8px 45px 4px 19px;
}

.tabs.icons .menu-tab li.active a {
    background-color: #fff
}

.tabs.icons .menu-tab li {
    bottom: 0;
    margin-left: -1px;
}

.tabs.icons .menu-tab li:first-child {
    margin-left: 0;
}

.tabs.icons .menu-tab li.active a:before {
    background-color: transparent;
}

.tabs.icons .menu-tab li i {
    position: absolute;
    top: 11px;
    right: 22px;
    font-size: 15px;
}

.tabs.left.margin .content-tab:before {
    height: 0;
}

.tabs.left.margin .content-tab {
    border: 2px solid #000;
}

.tabs.left.margin .menu-tab {
    border: 0;
}

.tabs.left.margin .menu-tab li {
    border: 2px solid #eaeaec;
    border-radius: 3px;
    margin-bottom: 6px;
}

.tabs.left.margin .menu-tab li a {
    padding: 12px 42px 10px 24px;
}

.tabs.left.margin .menu-tab li.active {
    border-color: #000;
}

.tabs.left.margin .menu-tab li.active a:before {
    height: 0;
}

.tabs.left.margin .menu-tab li.active a:after {
    content: "\e80c";
    font-family: "fontello";
    font-size: 20px;
    position: absolute;
    top: 11px;
    right: 17px;
}

.tabs.left.margin {
    padding-left: 141px;
}

/* Alerts
-------------------------------------------------------------- */
.roll-alerts .alerts {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding: 17px 0 15px 50px;
    border: 2px solid;
    border-radius: 3px;
    border-color: #000;
    font-weight: 600;
    margin-top: 16px;
}

.roll-alerts .alerts:after {
    content: "\e817";
    font-family: "fontello";
    font-size: 15px;
    position: absolute;
    top: 17px;
    right: 27px;
}

.alert-warning {
    background-color: #fcf8e2;
    color: #998649;
    border-color: #d2c892 !important;
	 padding: 10px;
    margin: 5px;
}

.alert-notice {
    background-color: #f4fce2;
    color: #718453;
    border-color: #c7de95 !important;
	 padding: 10px;
    margin: 5px;
}

.alert-error {
    background-color: #ffeae3;
    color: #9e6a5e;
    border-color: #dca28f !important;
    padding: 10px;
    margin: 5px;
}

.alert-success {
    background-color: #eaf9ff;
    color: #5d7481;
    border-color: #9dd1e6 !important;
	 /* padding: 10px; */
    margin: 5px;
}

/* Lists
-------------------------------------------------------------- */
.roll-lists .lists ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.roll-lists .list-number .number {
    margin-right: 4px;
}

.roll-lists .lists ul a {
    line-height: 29px;
    letter-spacing: 0.2px;
}

.roll-lists .lists ul li {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-lists .lists ul li:hover {
    padding-left:14px;
}

.roll-lists .list-dot ul li {
    position: relative;
    padding-left:10px;
}

.roll-lists .list-dot ul li:before {
    position: absolute;
    top: 5px;
    left: 0;
    content: "\e8c0";
    font-family: "fontello";
    font-size: 10px;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-lists .list-dot ul li:hover:before {
    left: 16px;
}

.roll-lists .list-dot ul li:hover {
    padding-left: 23px;
}

.roll-lists .list-icons li {
    width: auto;
    height: auto;
    padding-left: 29px;
    position: relative;
}

.roll-lists .list-icons ul li:before {
    position: absolute;
    top: 9px;
    left: 0;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.roll-lists .list-icons ul li:hover {
    padding-left: 35px;
}

.roll-lists .list-icons ul li:hover:before {
    left: 11px;
}

/* Lightbox
-------------------------------------------------------------- */
.fancybox-opened .fancybox-skin {
    position: relative;
}

#fancybox-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fancybox-outer {
    z-index: 1;
}

#fancybox-buttons ul li a {
    border: none;
    background-color: #0f0f0f;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 18px;
    position: absolute;
    border-radius: 3px;
}

#fancybox-buttons ul li a:before {
    position: absolute;
    font-family: "fontello";
}

.fancybox-nav {
    display: none;
}

.fancybox-title {
    margin-top: 12px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    background-color: transparent;
}

.fancybox-skin {
    background-color: transparent !important;
}

.fancybox-overlay {
    background-image: none !important;
}

.fancybox-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.fancybox-opened .fancybox-skin img {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.btnPlay:before {
    content: "\e89a";
    top: 6px;
    left: 10px;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.btnPlay.btnPlayOn:before {
    content: "\e89c";
}

.btnPrev:before {
    content: "\e888";
    top: 5px;
    left: 10px;
}

.btnNext:before {
    content: "\e889";
    top: 5px;
    left: 11px;
}

.btnClose:before {
    content: "\e817";
    top: 5px;
    left: 10px;
}

.btnToggle:before {
    content: "\e86d";
    top: 5px;
    left: 7px;
}

.btnPlay {
    bottom: 0;
    left: 0;
}

.btnPrev {
    bottom: 0;
    left: 34px;
}

.btnNext {
    bottom: 0;
    left: 68px;
}

.btnToggle {
    top: 17px;
    right: 17px;
    z-index: 2;
}

.btnClose {
    bottom: 0;
    right: 17px;
}

.fancybox-title span {
    position: absolute;
    bottom: 0;
    left: 107px;
    opacity: 0.5;
}

.roll-lightbox {
    display: inline-block;
    width: 100%;
}

.roll-lightbox .items {
    width: 31.62%;
    display: inline-block;
    margin-right: -3px;
    margin-bottom: 23px;
    cursor: pointer;
}

.roll-lightbox .items:nth-child(2) {
    margin-right: 2.3%;
    margin-left: 2.56%;
}

/* Competencies
-------------------------------------------------------------- */
.roll-competen {
    background-image: url('../images/competencies/bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.roll-competen .cpheader {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 64px;
}

.roll-competen .cpheader h2.title {
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    word-spacing: 4px;
    margin-bottom: 23px;
}

.roll-competen .cpheader p {
    font-size: 14px;
    line-height: 22px;
    color: #333;
    opacity: 0.8;
}

.roll-competen .cpprocess-left {
    width: 48.45%;
    margin-right: 3.09%;
    float: left;
    padding-right: 45px;
    padding-left: 41px;
}

.roll-competen .cpprocess-right {
    width: 48.45%;
    float: left;
    padding-right: 45px;
    padding-left: 41px;
}   

.roll-competen .progress-bar {
    position: relative;
    background-color: transparent;
}

.roll-competen .progress-animate {
    position: relative;
    z-index: 10;
}

.roll-competen .progress-single .perc.show {
    opacity: 1;
}

.roll-competen .progress-bar .overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #f4f4f4;
    opacity: 0.3;
}

/* Buy Avent
-------------------------------------------------------------- */
.roll-buyavent {
    text-align: center;
}

.roll-buyavent .baheader h2.title {
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    word-spacing: 4px;
    margin-bottom: 24px;
    margin-top: 6px;
}

.roll-buyavent .baheader p {
    font-size: 14px;
    line-height: 22px;
    color: #333;
    opacity: 0.8;
}

.roll-buyavent a.read-more {
    border-color: #000;
    margin-top: 22px;
    margin-bottom: 18px;
}

/* Go Top
-------------------------------------------------------------- */
.go-top .fa-angle-up {
    position: relative;
}

.go-top .fa-angle-up:before {
    top: -22px;
    left: -7px;
    position: absolute;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
}

.go-top:hover .fa-angle-up:before {
    color: #12d11f;
}

/* Preloader
-------------------------------------------------------------- */
.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefefe;
  z-index: 100000;  
}

.block-loader {
  background-color:#000;
  float:left;
  height:24px;
  margin-left:7px;
  width:24px;
  opacity:0.1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-animation-name:bounceG;
  -moz-animation-duration:1.3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-transform:scale(0.7);
  -webkit-animation-name:bounceG;
  -webkit-animation-duration:1.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(0.7);
  -ms-animation-name:bounceG;
  -ms-animation-duration:1.3s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-transform:scale(0.7);
  -o-animation-name:bounceG;
  -o-animation-duration:1.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-transform:scale(0.7);
  animation-name:bounceG;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  transform:scale(0.7);
}

.loader1{
  margin-left: -30px;
  -moz-animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
  -ms-animation-delay:0.5s;
  -o-animation-delay:0.5s;
  animation-delay:0.5s;
}

.loader2{
  margin-left: 0px;
  -moz-animation-delay:08s;
  -webkit-animation-delay:.8s;
  -ms-animation-delay:.8s;
  -o-animation-delay:.8s;
  animation-delay:.8s;
}

.loader3 {
  margin-left: 30px;
  -moz-animation-delay:1.3s;
  -webkit-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  animation-delay:1.3s;
}

@-moz-keyframes bounceG{
  0% {
  -moz-transform:scale(1.2);
  opacity:1
  }

  100%{
    -moz-transform:scale(0.7);
    opacity:0.1
  }
}

@-webkit-keyframes bounceG{
  0% {
    -webkit-transform:scale(1.2);
    opacity:1
  }

  100% {
    -webkit-transform:scale(0.7);
    opacity:0.1
  }
}

@-ms-keyframes bounceG{
  0% {
    -ms-transform:scale(1.2);
    opacity:1
  }

  100% {
    -ms-transform:scale(0.7);
    opacity:0.1
  }
}

@-o-keyframes bounceG{
  0% {
    -o-transform:scale(1.2);
    opacity:1
  }

  100%{
    -o-transform:scale(0.7);
    opacity:0.1
  }
}

@keyframes bounceG{
  0% {
    transform:scale(1.2);
    opacity:1
  }

  100% {
    transform:scale(0.7);
    opacity:0.1
  }
}

/* Hover Button */
.read-more {
    position: relative;
    z-index: 1;
}

.read-more:hover {
    color: #fff !important;
    border-color: #000 !important;
}

.read-more:before {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.read-more:hover:before {
    width: 100%;
    background-color: #000 !important;
}

.read-more:hover:after {
    transition-delay: 0.1s;
    right: 30px !important;
    color: #fff !important;
}

.read-more:after {
    transition-delay: 0.1s;
}

.purchase-box a.read-more:hover {
    border-color: #000 !important;
    color: #000 !important;
}

.purchase-box a.read-more:hover:before {
    background-color: #fff !important;
}

.purchase-box a.read-more:hover:after {
    color: #000 !important;
}

.btn-submit {
    z-index: 1;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-submit:hover {
    border-color: #000;
    color: #000;
}

.btn-submit:before {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-submit:hover:before {
    width: 100%;
    background-color: #fff;
}

.btn-submit:after {
    transition-delay: 0.1s;
}

.btn-submit:hover:after {
    transition-delay: 0.1s;
    right: 30px;
    color: #000;
}

.footer .read-more:hover {
    border-color: #fff !important;
}

.head-addcart {
    z-index: 1;
    border: 2px solid transparent;
}

.head-addcart:hover {
    border-color: #000;
    color: #fff !important;
}

.head-addcart:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.head-addcart:hover:after {
    width: 100%;
    background-color: #000;
}

.head-addcart:before {
    transition-delay: 0.1s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.head-addcart:hover:before {
    transition-delay: 0.1s;
    right: 35px !important;
    color: #fff !important;
}

.head-goproc {
    z-index: 1;
}

.head-goproc:hover {
    border-color: #000 !important;
    color: #fff !important;
}

.head-goproc:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.head-goproc:hover:after {
    width: 100%;
    background-color: #000;
}

.read-more.dark:hover:before,
.head-slider.video-bg .content .read-more:hover:before {
    width: 100%;
    background-color: #fff !important;
}

.read-more.dark:hover,
.read-more.dark:hover:after,
.head-slider.video-bg .content .read-more:hover,
.head-slider.video-bg .content .read-more:hover:after {
    color: #000 !important;
}

.head-slider.video-bg .content .read-more:hover {
    border-color: #000 !important;
}